{% extends "index/base.html" %}

{# 页面标题 #}
{% block title %}LiLabIMU - 404{% endblock %}

{# 页头信息 #}
{% block content_header %} <h1>您所查询的页面不存在 <small>404 error</small></h1> {% endblock %}

{# 主题内容 #}
{% block page_content %}
	<div class="error-page">
		<h2 class="headline text-yellow"> 404</h2>

		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> Oops! 页面没有找到.</h3>

			<p>
				没有找到你请求的页面, 你可以检查路径或者 <a href="/">返回到后台首页</a>
			</p>

		</div>
		<!-- /.error-content -->
	</div>
	<!-- /.error-page -->
{% endblock %}
