{% extends "index/base.html" %}

{% block title %}LiLabIMU - Reset Password{% endblock %}

{% block content_header %} <h1>密码重置链接已经发送 <small>reset password</small></h1> {% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li><span>用户管理</span></li>
  <li><span>忘记密码</span></li>
{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col-md-10" style="margin-left: 15px;">
			<p>

				如果你所输入的电子邮箱存在对应的用户，我们将通过电子邮件向你发送设置密码的操作步骤说明。你应该很快就会收到。<br>
				如果你没有收到电子邮件，请检查输入的是你注册的电子邮箱地址。另外，也请检查你的垃圾邮件文件夹。
			</p>
		</div>

	</div>


{% endblock %}
